/* Base styles for home section */
.main__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
}

.main__container {
  width: 100%;
  max-width: 480px; /* Ensuring the container does not exceed 480px */
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.main__container h1 {
  font-size: 110px;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #090909;
  margin-bottom: 32px;
  /* flex-wrap: wrap; */
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main__text {
  /* flex: 3; */
  width: 100%;
  padding: 10px;
}

.main__text h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.main__text h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.main__text p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
  flex-direction: row;
  /* width: 100%; */
}

.buttons a {
  /* display: block; */
  text-align: center;
  margin-bottom: 10px;
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttons a:hover {
  background-color: #028a5e;
}

.main__image {
  width: 100%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main__img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 481px) and (max-width: 768px) {
  .main__container {
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
  }

  .main__content {
    flex-direction: column;
    align-items: center;
  }

  .main__image {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .main__container {
    width: 100%;
    padding: 10px; /* Adjust padding for small screens */
  }

  .main__container h1 {
    font-size: 5em;
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  .main__text h1 {
    font-size: 1.8em;
  }

  .main__text h2 {
    font-size: 1.2em;
  }

  .main__text p {
    font-size: 0.9em;
  }
  .buttons {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
  }
  
  .buttons a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  /* .buttons a {
    padding: 8px 16px;
  } */
}
