/* CV page */
.page-container {
    margin: 20px;
  }
  
  .fa i {
    margin-right: 15px;
    margin-left: 10px;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .about i{
    
    /* color: #ffffff; */
    margin-right: 15px;
    margin-top: 10px;
    color: #194786;
  }
  
  hr {
    width: 95%;
    border: 0;
    border-top: 1px solid #df7861;
    margin: 0 auto;
  }
  
  .box-shadow {
    box-shadow: 5px 5px 5px grey;
  }
  
  .container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .left-col {
    background-color: whitesmoke;
    /* width: 100%; */
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .profile {
    overflow: hidden;
    text-align: center;
    padding: 25px;
  }
  
  .profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  
  .title h1 {
    font-weight: 600;
    text-align: center;
  }
  
  .title h3 {
    font-weight: 500;
    text-align: center;
  }
  
  .about {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 10px;
  }
  
  .about p {
    font-size: 17px;
    margin-bottom: 10px;
  }
  
  .skills {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .skills h3 {
    /* font-size: 1.5rem; */
    margin-top: 1.5rem;
  }
  
  .skills p {
    padding-top: 5px;
    padding-left: 15px;
  }
  
  .skills i{
    
    /* color: #ffffff; */
    margin-right: 15px;
    margin-top: 10px;
    color: #194786;
  }

  .right-col {
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    margin-left: 20px;
  }
  
  .right-col h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 20px;
  }
  
  .right-col h1,
  .right-col h2 {
    font-size: 1.2rem;
  }
  
  .cv-content {
    width: 100%;
  }
  
  .cv-content .date {
    color: #1409e5;
  }
 
  .cv-content i{
    
    /* color: #ffffff; */
    margin-right: 15px;
    margin-top: 10px;
    color: #194786;
  }
  .submenu {
    margin-top: 20px;
    text-align: center;
  }
  
  .submenu button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submenu button:hover {
    background-color: #0056b3;
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .container {
      flex-direction: row;
    }
  
    .left-col {
      width: 35%;
      margin-right: 10px;
    }
  
    .right-col {
      width: calc(65% - 10px);
    }
  }
  
  @media (max-width: 768px) {
    .left-col,
    .right-col {
      width: 100%;
    }
  
    .profile-img {
      width: 200px;
      height: 200px;
    }
  
    .skills h3 {
      font-size: 1.3rem;
    }
  
    .skills p {
      padding-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .profile-img {
      width: 150px;
      height: 150px;
    }
  
    .skills h3 {
      font-size: 1.1rem;
    }

    .container {
      flex-direction: column;
      padding: 10px;
      
  }

  .right-col{
    margin-left: 0px;
  }
  }
  