/* Base styles for header */
.header {
  background-color: #141b25;
  color: white;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-menu .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navlinks {
  display: flex;
  gap: 15px;
}

.navlinks a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  transition: background 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.navlinks a:hover,
.navlinks .active-link {
  /* background: #555; */
  border-bottom: 2px solid white;
  /* border-radius: 5px; */
}

.icon {
  display: none;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navlinks {
    display:none;
    flex-direction: column;
    background: #141b25ee;
    width: 100%;
    height: 100vh;
    text-align:center;
    
    
  }

  .navlinks.responsive {
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    float:right;
    margin: 0;
    padding: 0;
  }

  .navlinks a {
    padding: 10px 0;
  }

  .icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 5px 10px;
  }

  .icon {
    font-size: 20px;
    
  }

  .navlinks a {
    padding: 8px;
  }
}
