/* Base styles for header */
.header {
  background-color: #141b25;
  color: white;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-menu .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: relative;
  align-items: center;
}

.navlinks {
  display: flex;
  gap: 15px;
  position: relative;
  align-items: center;
}

.navlinks a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  transition: background 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.navlinks a:hover,
.navlinks .active-link {
  border-bottom: 2px solid white;
}

.icon {
  display: none;
}

.dropdown {
  position: relative ;
  display: inline-block;
}

/* .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #141b25;
  padding: 10px;
  top: 0px;
  left: 0;
  width: 200px;
  border-radius: 5px;
} */

.dropdown .dropbtn {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 16px;
  transition: background 0.3s, border-bottom 0.3s;
  /* border-bottom: 2px solid white; */
}

.dropdown .dropbtn.active-link {
  border-bottom: 2px solid white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a,
.dropdown-content button {
  color: black;
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  /* width: 100%; */
}

.dropdown-content a:hover,
.dropdown-content button:hover {
  background-color: #ddd;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  transition: background 0.3s;
}

.dropdown-menu li:hover {
  background-color: #0056b3;
} */



/* Responsive styles */
@media screen and (max-width: 768px) {
  .navlinks {
    display: none;
    flex-direction: column;
    background: #141b25ee;
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  .navlinks.responsive {
    display: flex;
    position: absolute;
    top: 41px;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .navlinks a, .dropdown .dropbtn {
    padding: 10px 0;
  }

  .icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }

  /* .dropdown-menu {
    position: static;
    background-color: transparent;
    padding: 0;
  }

  .dropdown-menu li {
    background-color: #141b25;
    padding: 10px;
  } */

  .dropdown-content {
    position: static;
    background-color: #141b25;
    padding: 0;
    box-shadow: none;
  }

  .dropdown-content a,
  .dropdown-content button {
    color: white;
    padding: 10px;
    text-align: center;
  }

  .dropdown-content a:hover,
  .dropdown-content button:hover {
    background-color: #333;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 5px 10px;
  }

  .icon {
    font-size: 20px;
    align-items: center;
  }

  /* .navlinks a {
    padding: 8px;
  } */

  .navlinks a,
  .dropdown .dropbtn {
    padding: 8px 0;
    font-size: 14px;
  }

  .dropdown-content a,
  .dropdown-content button {
    padding: 8px;
  }

  .dropdown-content {
    min-width: 120px;
  }
}
